{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": "@sanity/eslint-config-studio",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
